<div class="booyah-box col-10 offset-1">
    <div class="row">
        <div class="col-3">
            <%= image_tag 'user.png' %>
        </div>    
        <div class="col-7">
            <h2><%= @user.email %></h1>
            <h4> Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h4>
            <h5> <%= @user.comments.count %> total comments </h5>
            <h5> <%= @user.comments.where(rating: '5_stars').count %> five star reviews </h5>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="booyah-box col-10 offset-1">
     <h1 class="text-center"> My Comments</h1>
      
      <div class="clear"></div>
         <div class="col-12">
            <% @user.comments.each do |comment| %>
                <h3><%= link_to comment.place.name, place_path(comment.place) %></h3>
                <blockquote>
                    <% if comment.humanized_rating.present? %>
                        <b><%= comment.humanized_rating %></b> -
                    <% end %>
                    <%= comment.message %>
                </blockquote>
            <% end %>
         </div>
</div>

