

<% @places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
        <div class= "row">
            <div class="col-lg-3 col-sm-6"> 
                <% if place.photos.present? %>
                    <%= image_tag place.photos.last.photo_url, :class => 'img-fluid'%>
                <% end %>
            </div>
            <div class="col-lg-9 col-sm-6">
                <h1><%= link_to place.name, place_path(place) %></h1>
                <i><%= place.address %></i><br />
                <p><%= place.description %></p>
            </div>
        </div>
            <% if place.user.present? %>
                <small> <%= place.user.email %></small>
            <% end %>
            
            <% if place.comments.present? %>
                <div class="col-12">
                  <blockquote>
                    <% if place.comments.last.humanized_rating.present? %>
                      <b><%= place.comments.last.humanized_rating %></b> -
                    <% end %>
                    <%= place.comments.last.message %>
                    <small><%= place.comments.last.user.email %></small>
                  </blockquote>
                </div>
            <% end %>
        </div>

<% end %>

<div class="page-nav col-10 offset-1">
    <%= will_paginate @places %>
</div>