

<% @places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
        <h1><%= place.name %></h1>
        <i><%= place.address %></i><br />
        <p><%= place.description %></p>
        
        <% if place.user.present? %>
            <small> <%= place.user.email %></small>
        <% end %>
    </div>

<% end %>

<div class="page-nav col-10 offset-1">
    <%= will_paginate @places %>
</div>